/* CSS goes here */
/* */
/* */

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: brown;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: grey;
    position: fixed;
    top: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul {
    list-style: none;
    width: 100%;
    background-color: #54473F;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 20rem 5rem 20rem;
    margin-bottom: 3rem;
}

nav ul li {
    height: 100%;
}

nav ul li a {
    display: block;
    text-decoration: none;
    Color: black;
    height: 100%;
    background-color: #9A7E6F;
    text-align: center;
    border-radius: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}

#button {
    height: 75%;
    width: 100px;
    border: solid 5px black;
    border-radius: 1rem;
}

#welcome-section {
    height: 100vh;
    background-color: #CBD2A4;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}

#welcome-image {
    width: 35%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10px;
}

h1 {
    font-size: 2rem;;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#explain {
    font-size: 0.8rem;
}

#projects {
    height: 150vh;
    background-color: #E9EED9;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

#project {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#project-image {
    width: 35%;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 10px;
    margin-top: 0;
}

#project-link {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

#profile-link {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

footer {
    height: 100px;
    background-color: #54473F;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 20rem 5rem 20rem;
    margin-bottom: 30;
    color: #E9EED9;
}

@media only screen and (max-width: 900px) {
    header {
        height: 120px;
    }
    #welcome-section {
        padding-top: 20%;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0;
        height: 120px;
    }
    nav ul li {
        margin: 5px;
    }
    #projects {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #project {
        margin: auto;
    }
    #project-image {
        width: 45%;
    }
    footer {
        height: 400px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0;
        flex-wrap: nowrap;
    }
    #contact-name, #contact-email, #contact-phone, #contact-address {
        margin: auto;
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    #project-image {
        width: 75%;
    }
}